body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 300vh;
}
#myTopnav{
    background-color: #333;
    position: fixed;
    top: 0;  
    width: 100%; 
    transition: top 0.3s; 
}
}
.topnav {
  overflow: hidden;
  background-color: #333;
  transition: top 0.3s; 
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
   table{
  	width: 100% !important;
  }
}
main{ 
	display: flex;
	flex-direction: column;
	width:100%;
	margin-top:10%;
	background-color: 
}
.main_block{
	background-color: #fff;
	text-align: center;
}
header{
	height: 100vh;
}
table{
	margin: 0 auto;
	width:60%;
}
table th{
	padding-left:1%;
	font-size:18px;
	padding-top:3%;
    padding-bottom:3%;
    text-align: left;
    color: white;
}
table tr{
		font-size: 18px;
		background-color:rgba(0,0,0,0.5) ;
}
tr:nth-child(even) {
  background-color: rgba(0,0,0,0.65);
}
